---
layout: base.njk
---
{% include "partials/hero.njk" %}
{% include "partials/about.njk" %}
<div class="rail-layout">
  <div class="rail-main">
    {% include "partials/experience.njk" %}
    {% include "partials/projects.njk" %}
  </div>
  {% include "partials/filter-panel.njk" %}
</div>